
.body {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
}

.contents {
  width: 100%;
  height: 1350px;
  background-color: rgba(202,134,151, 0.2);
}

.background-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.title {
   background-color: rgb(107,7,32);
}

.title-container1, .title-container2 {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-container2 {
  margin-top: 0px;
}

.title-container2 p, .mission-container h1, .vision-container h1{
  font-size: 20px;
  font-family: Montserrat;
  color: white;
  font-weight: 400;
}

.text-info p, .mission-container p, .vision-container p {
  font-size: 16px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 35px;
  color: black;
}

.title-container3 {
  background-color: rgb(107,7,32);
  display: flex;
  justify-content: center;
  margin: 0px;
}

.footer h2, .footer div {
  font-size: 14px;
  font-family: Montserrat;
}

.footer h2 {
  font-size: 35px;
}

.footer {
  height: 200px;
  padding: 80px 30px 0px;
  background-color:
  rgb(231,193,110);
}



@media only screen and (min-width: 820px) {
  .text-info p {
    font-size: 20px;
    line-height: 45px;
  }

  .mission-container p, .vision-container p {
    font-size: 20px;
    line-height: 45px;
  }
}