body {
  height: 312.5rem;
  background-color: rgb(222, 216, 207);
}

.button-back {
  cursor: pointer;
  margin-top: 20px;
  padding: 30px 90px;
  font-size: 35px;
  border-style: none;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.letter-paper {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 62.5rem;
  height: 75rem;
  background-color: rgb(240, 240, 240);
}