body {
  height: 312.5rem;
  background-color: rgb(222, 216, 207);
}

.button-back {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 15px;
  font-family: Indie Flower;
  font-weight: bold;
  border-style: none;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


.button-back p {
  margin-top: -45px;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.letter-paper {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 62.5rem;
  height: 75rem;
  background-color: rgb(240, 240, 240);
}