.body {
  height: 52.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greetings-container {
  margin-bottom: 5.25rem;
  margin-left: 60px;
  margin-right: 60px;
  cursor: pointer;
  background-image: linear-gradient(rgb(255, 210, 210), lightyellow, lightpink);
  color: rgb(0, 0, 0);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-width: 0.0625rem;
  border-radius: 0.4rem;
  border-style: solid;
  border-color: rgb(235,232,229);
  box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.5);
  transition: all 0.15s;
}

.greetings {
  font-family: Indie Flower;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 20px;
  line-height: 80px;

}
