.letter-paper {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 62.5rem;
  height: 75rem;
  background-color: rgb(240, 240, 240);
  display: flex;
}

.text-container {
  background-color: rgb(240, 240, 240);
  flex: 1;
  padding-left: 9.375rem;
  padding-right: 9.375rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}


.text-container p {
  font-size: 30px;
  font-family: Caveat;
}