.feu-img {
  object-fit: cover;
  width: 100vw;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.4)));
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}