
html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 820px) {
  body{
    padding-top: 72px;
  }
}

/*
  fix
*/

html, 
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding-top: 114px;
  height: 3500px;
  background-image: linear-gradient(rgb(107,7,32) 80%, rgb(231,193,110));
  overflow-x: hidden;
}
