.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  display: grid;
  grid-template-columns: 1fr;
  height: 114px;
  background-color: none;

  z-index: 100;
}

.top-row {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, rgb(107,7,32), rgb(150, 37, 32));
}

.left-side {
  width: 80px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 60px;
  border-radius: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
}

.middle-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  color: rgb(231,193,110);
  display: flex;
  justify-content: left;
  align-items: center;
}

.big-text {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  flex: 3;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.45);

}

.small-text {
  flex: 1;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

.right-side {
  display: none;
}

.line-row {
  height: 2px;
  background-color: wheat;
}

.line-row2 {
  height: 2px;
  background-color: wheat;
}

.bot-row {
  height: 40px;
  display: flex;
  background-image: linear-gradient(45deg, rgb(173,124,58), rgb(173, 124, 8));
  justify-content: space-around;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  gap: 80px
}

.bot-row a{
  font-size: 17px;
  font-weight: none;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none;
  flex: 5;
  text-align: justify;
  align-items: center;
  justify-content: center;
}

.bot-row a:hover {
  text-shadow: 0px 0px 10px white;
}

.dropdown.active > .link, .link:hover {
  color:black; 
}

.dropdown {
  margin-top: 2px;
  flex: 1;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: -1rem; 
  top: calc(100% + .55rem);
  background-color: rgb(231,193,110);
  padding: .75rem 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.link {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-menu {
  height: 20px;
  width: 20px;
  background: none;
  pointer-events: none;
}

@media only screen and (min-width: 820px) {
  .header {
    height: 78px;
  }

  .middle-side {
    flex: none;
    width: 290px;
  }

  .right-side {
    display: flex;
    flex: 1.5;
    align-items: center;
    justify-content: right;
  }

  .anchor-container {
    width: 300px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }

  .right-side a {
    font-size: 25px;
    color: rgb(231,193,110);
    margin-right: 40px;
    cursor: pointer;
    text-decoration: none;
  }

  .right-side a:hover {
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
  }

  .bot-row {
    display: none;
  }

  .line-row {
    height: 4px;
  }



}
