

.header {
box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.4);

  height: 8.25rem;
  background-image: linear-gradient(45deg, #7b977b, #588157, green, darkgreen);

  display: flex;
  flex-direction: row;
  justify-content: center;

  z-index: 100;
}

.header h1 {
  font-family: Satisfy;
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.header span{
  color: rgb(186, 104, 104);
  font-size: 25px;
}